<h1>
    {{title}}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="1031451196546-1na7gtkuushds7qol1rmacq73vhft3kg.apps.googleusercontent.com">
</h1>

<div id="profile_badge">
<img id="profile_pic" height= "300" width= "300"/>
<h3 id="profile_name"></h3>
<h5 id="profile_stats"></h5>
</div>

<p>Welcome to {{title}}</p>
{{#if status}}
<div class="g-signin2" style='pointer-events:none;'></div>
<h2>Hello {{username}}, how are you doing today?</h2>
<div id="rankings_table">
<ul>
    Online Tic Tac Toe Manias
    <table align="center" id="ratings-table">
        <tr>
            <th>Username</th>
            <th>Rank</th>
	    <th>Request to Play</th>  
        </tr>
	{{#each onliners}}
        <tr>
          <th>{{this.username}}</th>
          <th>{{this.rank}}</th>
          <th><button id="anyBtn"  onclick="emitRequest('{{this.username}}')">Click to send them a play request.</button></th>
        </tr>
	{{/each}}
    </table>
</ul>
</div>
{{else}}
<div class="g-signin2" data-onsuccess="onSignIn" ></div>

{{/if}}
<form action="/" method="POST" id="login">
</form>

<script src="/scripts/signIn.js"></script>
<script>
	function emitRequest(user) {
		console.log("sent a play request")
		document.getElementById("anyBtn").disabled = true;
		socket.emit("sendRequest",{"requestedUser":user})
		
	}
</script>

